@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

@background: #354B5E;
@card_bg: #F4F4F4;
@twitter: #55ACEE;
@facebook: #3b5998;

@poster_width: 150px;
@poster_height: 225px;
@main_font: Roboto;

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}

body {
  background: @background;
  font-family: @main_font;
  display: flex;
  align-items: center;
  justify-content: center;      
}

.navContainer {
  color: #FFFFFF;
  width: 100%;
  display: flex;
  align-items: center;
  height: 50vh;
  max-height: 50vh;
  justify-content: center;
  margin-bottom: 10px;
}

.navContainer ul {
  display: flex;
  margin-right: 5px;
  align-self: flex-start;
}

.navContainer li {
  list-style-type: none;
  padding: 0 10px;
}

.navCollapse {
    max-height: 70px;
    transition: max-height .5s linear;
}

.navSearch {
  align-self: flex-end;
}

.link {
  text-decoration: none;
  font-size: 20px;
  align-self: center;
  color: white;
}

.link:hover {
  text-decoration: none;  
}

.title {
  margin-left: 10px;
}

.homeContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.home {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
  height: 100vh;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  padding: 20px;
  background: @card_bg;
  width: 500px;
  height: auto;
  animation-name: fadeIn;
  animation-duration: 1s; 
}

.list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.card {
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  display: inline-block;
  position: relative;
  align-items: center;
  animation-name: fadeIn;
  animation-duration: 2s; 
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  opacity: 0;
}

.modalContainer {
  display: flex;
}

.modalPoster {
  margin: 10px;
}

.modalInfo {
  width: 20vw;
}

.loading {
  font-size: 15vh;
  color: #F4F4F4;
  margin-top: 20vh;
}

.card:hover {
  cursor: pointer;
}

.form-control {
  width: 30vw;
}

.form-group {  
  text-align: center;
}

.info {
  display: flex;
  flex-direction: column;
}

.icon {
  border-radius: 3px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.twitter {
  background: @twitter;
  bottom: 5px;
  right: 5px;
  opacity: 0;
}

.facebook {
  background: @facebook;
  bottom: 5px;
  right: 40px;
  opacity: 0;
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: .5s; 
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
